
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <title>Guzo Tour</title>
  </head>
  <body>
  <header class="header">
    <nav class="nav nav--tours">
        <a href="" class="nav__el">All tours</a>

       <form action="/?filter=true" class="nav__search"  method="get">
        <li class="hov"> 
           <p> Search by</p>
        <ul class="seleter">
                   <li><input type="radio" value="tour_name"  checked name="searchBy"/><span >name</span ></li>
                  <li ><input type="radio" value="town" name="searchBy"/><br><span >town</span ></li>
                  <li ><input type="radio" value="location" name="searchBy" /><span >location</span ></li>
                  <li ><input type="radio" value="region" name="searchBy" /><span >region</span ></li>
                  <li ><input type="radio" value="direction" name="searchBy" /><span >direction</span ></li>
                  <li ><input type="radio" value="difficulty" name="searchBy" /><span >difficulty</span ></li>
                  <li ><input type="radio" value="duration" name="searchBy" /><span >duration</span ></li>
                  <li ><label for="region">price</label></li>
                  <li ><input type="radio" id="greater" value=">=" name="searchBy" /><label for="greater">greater </label></li>
                  <li ><input type="radio" id="less" value='>=' name="searchBy" /><label for="less">less</label></li>
        </ul>
      </li>
       
          <input
            type="text"
            placeholder="Search tours"
            class="nav__search-input"
            name="search_query"
          />
          <button class="btnsub"  type="submit"><i class="fa-solid fa-magnifying-glass ficon"></i></button>
        </form>
      </nav>
      <div class="header__logo">
        <img src="img/logo-white.png" alt="Guzo tour logo" />
      </div>
     <nav class="nav nav--user">        
          <%  if(isLogged){ %> 
         <a href="/user/profile?user_id=<%=user[0].user_id%>" class="nav__el">
         <img src = "img/users/<%= user[0].photo%>" class='nav__user-img'>
          </a>
          <a href="/user/logout" class="nav__el">Logout</a>
          <% } %> 
       <%  if(!isLogged){ %> 
       <a href="/login" class="nav__el">Login</a>
       <a href="/signup" class="nav__el">Sign Up</a>
        <% } %> 
    </nav>
 </header>
 <%  if(!filter.filter){ %> 
 <div class="home" id="home">
        <div class="content">
            <h3>Guzo Tour</h3>
            <p>discover new place with us</p>
            <a href="#" class="btn">discover more</a>
        </div>
        <div class="controls">
            <span class="vid-btn active" data-src="video/hawassa.mp4"></span>
            <span class="vid-btn" data-src="video/afar.mp4"></span>
            <span class="vid-btn" data-src="video/afar2.mp4"></span>
            <span class="vid-btn" data-src="video/gondar.mp4"></span>
            <span class="vid-btn" data-src="video/lalibela.mp4"></span>
        </div>
        <div class="video-container">
            <video src="video/hawassa.mp4" id="video-slider" loop autoplay muted></video>
        </div>
</div>
<% } %> 
<div class = 'book'>
            <h1 class="heading">
                <span>b</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span class="space"></span>
                <span>n</span>
                <span>o</span>
                <span>w</span>
            </h1>
</div>

    <section class="overview" id="overview">
      <div class="card-container">
<%  for(var data=0; data<result.length;data++){ %>

<div class="card">
    <div class="card__header">
    <div class="card__picture">
    <div class="card__picture-overlay">&nbsp;</div>
    <img src="img/tours/<%=result[data].cover_image %>" alt="<%=result[data].cover_image %>" class="card__picture-img"
              />
             </div>
              <h3 class="heading-tertirary">
            <span><%=result[data].tour_name %></span></h3> </div>
         <div class="card__details">
          <h4 class="card__sub-heading">Easy  <%=result[data].duration %>-day tour</h4>
          <p class="card__text">
            Breathtaking hike through the Canadian Banff National Park <%=result[data].cover_image %> 
          </p>
          <div class="card__data">
            <svg class="card__icon">
            <i class="fa-solid fa-location-dot"> </i><span><%=result[data].region %> , <%=result[data].town %>  </span>
            </svg>
          </div>
          <div class="card__data">
          <i class="fa-solid fa-calendar-days"></i>
             <%  var date=result[data].start_date.toString().split("00"); %> 
            <span> <%=date[0]%> </span>
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="img/icons.svg#icon-flag"></use>
            </svg>
            <span>From AA  </span>
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="img/icons.svg#icon-user"></use>
            </svg>
            <span> <%=result[data].group_size %>  people</span>
          </div>
        </div>

        <div class="card__footer">
          <p>
            <span class="card__footer-value"> <%=result[data].price %> ETB</span>
            <span class="card__footer-text">per person</span>
          </p>
          <p class="card__ratings">
            <span class="card__footer-value"><%= result[data].rating %> </span>
            <span class="card__footer-text">rating (<%= result[data].rating_quantity %>)</span>
          </p> <details</details>
        <a href="/detail?tour_id=<%=result[data].tour_id%> " class="btn btn--green btn--small">Details</a>
        </div>
      </div>

<% } %> 

 
      </div>
    </section>
    <div class="footer">
   
      <div class="footer__logo"> 
        <img src="img/logo-green-round.png" alt="Natours logo" />
        <span> GUZO TOUR </span>
      </div>
      <ul class="footer__nav">
        <li><a href="#">About us</a></li>
        <li><a href="#">Download apps</a></li>
        <li><a href="#">Become a guide</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <p class="footer__copyright">
        &copy; By AASTU Students. All rights reserved.
      </p>
     
</div>

    <script src="./javascrift/js.js"></script>
    <script>
        let searchBtn = document.querySelector('#search-btn');
        let searchBar = document.querySelector('.search-bar-container');
        let loginContainer = document.querySelector('.login-form-container');
        let loginBtn = document.querySelector('#login-btn');
        let closeIcon = document.querySelector("#closeIcon");
        let menuBar = document.querySelector("#menu-bar");
        let navBar = document.querySelector(".navbar");
        let videoControl = document.querySelectorAll('.vid-btn');
        let videoSlider = document.querySelector("#video-slider");
        
        
        window.onscroll = ()=>{
            searchBtn.classList.remove("fa-times")
            loginContainer.classList.remove('active')
            searchBar.classList.remove("active")
            menuBar.classList.remove('fa-times')
            navBar.classList.remove('active')
        }
        
        videoControl.forEach(btn=>{
            btn.addEventListener('click',(e)=>{
                console.log(e.target.dataset.src);
                document.querySelector(".controls .active").classList.remove('active')
                btn.classList.toggle("active")
                videoSlider.src = e.target.dataset.src
            })
        })
  var x=document.cookie
  console.log(x);
  if(x.booked){
    alert("booked")


  }

        </script>
    
  </body>
</html>
